Run the cell below.

In [1]:
import pandas as pd
import pandas_datareader as pdr

ind = pd.DataFrame({'weight':['ew','vw','ew','vw'], 
                      'year': ['2010','2010','2011','2011'], 
                      'ret': [0.1,0.15,0.05,0.01],
                      'N':[5,3,4,10]})
ind

  weight  year   ret   N
0     ew  2010  0.10   5
1     vw  2010  0.15   3
2     ew  2011  0.05   4
3     vw  2011  0.01  10

Reshape the data in the ``ret`` and ``N`` columns of the ``ind`` dataframe, so that each year gets its own row and different weight types ('ew' and 'vw') get their own columns. Call this new, reshaped dataframe ``ind_long``. Print ``ind_long``.

In [2]:
ind_long = ind.pivot(index='year', columns = 'weight', values=['ret','N'])
ind_long

         ret          N
weight    ew    vw   ew    vw
year
2010    0.10  0.15  5.0   3.0
2011    0.05  0.01  4.0  10.0

Reshape ``ind_long`` back into a dataframe that has the same columns as ``ind``. Call this new dataframe ``ind_wide``. Print ``ind_wide``.

In [5]:
ind_wide = ind_long.stack(level=1).reset_index()
ind_wide

   year weight   ret     N
0  2010     ew  0.10   5.0
1  2010     vw  0.15   3.0
2  2011     ew  0.05   4.0
3  2011     vw  0.01  10.0

Use the ``pandas_datareader`` package to download data on the 'GDP' and 'GNP' series from the St. Louis FRED for the year 2020 (should have 4 rows, one for each quarter in 2020). You can download the data for both series at the same time (i.e. into the same dataframe) by supplying the 'GDP' and 'GNP' names as elements of a single list. Call this new dataframe ``macro1`` and print it.

In [6]:
macro1 = pdr.DataReader(name=['GDP','GNP'], data_source='fred', 
                       start='2020-01-01', end='2020-12-31')
macro1

                  GDP        GNP
DATE
2020-01-01  21481.367  21721.267
2020-04-01  19477.444  19649.442
2020-07-01  21138.574  21365.412
2020-10-01  21477.597  21728.223

Now download data for the same 'gdp' and 'gnp' series for the year 2019. Store these into a dataframe called ``macro2`` and print it out.

In [7]:
macro2 = pdr.DataReader(name=['GDP','GNP'], data_source='fred', 
                       start='2019-01-01', end='2019-12-31')
macro2

                  GDP        GNP
DATE
2019-01-01  21001.591  21254.334
2019-04-01  21289.268  21564.924
2019-07-01  21505.012  21780.753
2019-10-01  21694.458  21955.980

Append ``macro1`` to ``macro2`` (stack them on top of each other). Call the resulting dataframe ``vert`` and print it out.

In [8]:
vert = pd.concat([macro1, macro2], axis=0)
vert

                  GDP        GNP
DATE
2020-01-01  21481.367  21721.267
2020-04-01  19477.444  19649.442
2020-07-01  21138.574  21365.412
2020-10-01  21477.597  21728.223
2019-01-01  21001.591  21254.334
2019-04-01  21289.268  21564.924
2019-07-01  21505.012  21780.753
2019-10-01  21694.458  21955.980

Also from FRED, download data on real GDP (``name = 'GDPC1'``) for 2019 and 2020. Call the resulting dataframe ``rgdp`` and print it out.

Concatenate ``vert`` and ``rgdp`` so their data appears side by side into a new dataframe called ``full``. Print ``full``.

Verify that this gives you the same answer as performing an outer join on ``vert`` and ``rgdp`` using the ``.join()`` function.

Reset index on ``vert`` and ``rgdp``. Call the resulting dataframes ``vert_reset`` and ``rgdp_reset`` and print them out.

Concatenate ``vert_reset`` and ``rgdp_rest`` so their data appears side by side into a new dataframe called ``full_reset``. Print ``full_reset``. Note how this time the dates for the two dataframes don't align anymore. That's because now ``.concat()`` joins the two dataframes based on their new indexes (the 0-7 ones).

Use ``.merge()`` to perform an outer merge on ``vert_reset`` and ``rgdp_reset`` based on ``DATE``. Print the resulting merged dataframe.