Run the cell below:

In [1]:
import pandas as pd

If you have not done so already, download the "compa.zip", "crspm.zip" and "ff.zip" files from the "Lectures and Data / data" tab in D2L into a "data" folder on your computer (located outside the folder containing this file, as explained in ``lecture00``).

Load the CRSP monthly market data ("crspm.zip") into a new dataframe called ``crsp``. Print all the data types in ``crsp``.

In [2]:
crsp = pd.read_pickle('../data/crspm.zip')
crsp.dtypes

permno    float64
permco    float64
date       object
prc       float64
ret       float64
shrout    float64
shrcd     float64
exchcd    float64
siccd     float64
ticker     object
dtype: object

Convert the ``date`` column to ``datetime`` type. Print all the data types again.

In [3]:
crsp['date'] = pd.to_datetime(crsp['date'])
crsp.dtypes

permno           float64
permco           float64
date      datetime64[ns]
prc              float64
ret              float64
shrout           float64
shrcd            float64
exchcd           float64
siccd            float64
ticker            object
dtype: object

Create a new column called ``mdate`` which contains a version of ``date`` converted to ``period`` type, with monthly frequency.

In [4]:
crsp['mdate'] = crsp['date'].dt.to_period('M')
crsp.dtypes

permno           float64
permco           float64
date      datetime64[ns]
prc              float64
ret              float64
shrout           float64
shrcd            float64
exchcd           float64
siccd            float64
ticker            object
mdate          period[M]
dtype: object

Create a new column called ``date_6M_ago`` which equals the date 6 months prior to the date recorded in ``mdate``.

In [5]:
crsp['date_6M_ago'] = crsp['mdate'] - 6
crsp.head()

,permno,permco,date,prc,ret,shrout,shrcd,exchcd,siccd,ticker,mdate,date_6M_ago
0,10000.0,7952.0,1986-01-31,-4.375000,NaN,3680.0,10.0,3.0,3990.0,OMFGA,1986-01,1985-07
1,10000.0,7952.0,1986-02-28,-3.250000,-0.257143,3680.0,10.0,3.0,3990.0,OMFGA,1986-02,1985-08
2,10000.0,7952.0,1986-03-31,-4.437500,0.365385,3680.0,10.0,3.0,3990.0,OMFGA,1986-03,1985-09
3,10000.0,7952.0,1986-04-30,-4.000000,-0.098592,3793.0,10.0,3.0,3990.0,OMFGA,1986-04,1985-10
4,10000.0,7952.0,1986-05-30,-3.109375,-0.222656,3793.0,10.0,3.0,3990.0,OMFGA,1986-05,1985-11

Replace ``crsp`` with a version of itself sorted by the values of ``permno`` and ``date``.

In [6]:
crsp = crsp.sort_values(['permno','date'])

Create a new column called ``lag6_ret`` which equals the firm's return from 6 periods (rows) prior. Use the ``.shift()`` method, with ``permno`` as the firm identifier. Then print the first 8 rows of ``crsp``.

In [7]:
crsp['lag6_ret'] = crsp.groupby('permno')['ret'].shift(6)
crsp.head(8)

,permno,permco,date,prc,ret,shrout,shrcd,exchcd,siccd,ticker,mdate,date_6M_ago,lag6_ret
0,10000.0,7952.0,1986-01-31,-4.375000,NaN,3680.0,10.0,3.0,3990.0,OMFGA,1986-01,1985-07,NaN
1,10000.0,7952.0,1986-02-28,-3.250000,-0.257143,3680.0,10.0,3.0,3990.0,OMFGA,1986-02,1985-08,NaN
2,10000.0,7952.0,1986-03-31,-4.437500,0.365385,3680.0,10.0,3.0,3990.0,OMFGA,1986-03,1985-09,NaN
3,10000.0,7952.0,1986-04-30,-4.000000,-0.098592,3793.0,10.0,3.0,3990.0,OMFGA,1986-04,1985-10,NaN
4,10000.0,7952.0,1986-05-30,-3.109375,-0.222656,3793.0,10.0,3.0,3990.0,OMFGA,1986-05,1985-11,NaN
5,10000.0,7952.0,1986-06-30,-3.093750,-0.005025,3793.0,10.0,3.0,3990.0,OMFGA,1986-06,1985-12,NaN
6,10000.0,7952.0,1986-07-31,-2.843750,-0.080808,3793.0,10.0,3.0,3990.0,OMFGA,1986-07,1986-01,NaN
7,10000.0,7952.0,1986-08-29,-1.093750,-0.615385,3793.0,10.0,3.0,3990.0,OMFGA,1986-08,1986-02,-0.257143