Run the cell below:

In [ ]:
import pandas as pd

d = {'firmid':[10,11,12], 'ticker':['A','B','C'], 'age':[5,3,4]}
df = pd.DataFrame(d)
df

Print the index of ``df``. Note the type of data it stores.

Change ``df`` so that its index is 1,2,3 instead of 0,1,2. Print this new version of ``df``.

Use ``.loc[]`` to create a new dataframe ``df2`` (not a Series) which contains the data in ``df`` where the index 2. Then print ``df2``.

Use ``.iloc[]`` to create a new dataframe ``df3`` (not a Series) which contains the data in ``df`` where the index 2. Then print ``df3``.

Create a new dataframe ``df4`` that contains all the data in ``df`` where ``age`` is strictly larger than 3. Then print ``df4``.

Create a new dataframe ``df5`` that contains the ``firmid`` and ``age`` for the row with ticker "C". Print ``df5``.

Create a new dataframe ``df6`` that contains all the data in the ``ticker`` and ``age`` columns of ``df``. Print ``df6``.

Create a new dataframe ``df7`` which contains the ``age`` data in ``df``, and has ``firmid`` and ``ticker`` as its index (i.e. ``df7`` will have a MultiIndex). Then print ``df7``.

Print the index of ``df7``.