Run the cell below:

In [1]:
import pandas as pd

d = {'firmid':[10,11,12], 'ticker':['A','B','C'], 'age':[5,3,4]}
df = pd.DataFrame(d)
df

   firmid ticker  age
0      10      A    5
1      11      B    3
2      12      C    4

Print the index of ``df``. Note the type of data it stores.

In [2]:
df.index

RangeIndex(start=0, stop=3, step=1)

Change ``df`` so that its index is 1,2,3 instead of 0,1,2. Print this new version of ``df``.

In [3]:
df.index = df.index + 1
df

   firmid ticker  age
1      10      A    5
2      11      B    3
3      12      C    4

Use ``.loc[]`` to create a new dataframe ``df2`` (not a Series) which contains the data in ``df`` where the index 2. Then print ``df2``.

In [4]:
df2 = df.loc[[2]].copy() #with .loc[], 2 means "the row with the label 2"
df2

   firmid ticker  age
2      11      B    3

Use ``.iloc[]`` to create a new dataframe ``df3`` (not a Series) which contains the data in ``df`` where the index 2. Then print ``df3``.

In [5]:
df3 = df.iloc[[1]].copy() #with .iloc[], 1 means "the second row" (because Python starts counting from 0)
df3

   firmid ticker  age
2      11      B    3

Create a new dataframe ``df4`` that contains all the data in ``df`` where ``age`` is strictly larger than 3. Then print ``df4``.

In [6]:
df4 = df.loc[df['age']>3, :].copy()
df4

   firmid ticker  age
1      10      A    5
3      12      C    4

Create a new dataframe ``df5`` that contains the ``firmid`` and ``age`` for the row with ticker "C". Print ``df5``.

In [7]:
df5 = df.loc[df['ticker']=='C', ['firmid','age']].copy()
df5

   firmid  age
3      12    4

Create a new dataframe ``df6`` that contains all the data in the ``ticker`` and ``age`` columns of ``df``. Print ``df6``.

In [8]:
df6 = df[['ticker','age']].copy()
df6

  ticker  age
1      A    5
2      B    3
3      C    4

Create a new dataframe ``df7`` which contains the ``age`` data in ``df``, and has ``firmid`` and ``ticker`` as its index (i.e. ``df7`` will have a MultiIndex). Then print ``df7``.

In [9]:
df7 = df.set_index(['firmid','ticker'])
df7

               age
firmid ticker
10     A         5
11     B         3
12     C         4

Print the index of ``df7``.

In [10]:
df7.index

MultiIndex([(10, 'A'),
            (11, 'B'),
            (12, 'C')],
           names=['firmid', 'ticker'])