Run the cell below:

In [1]:
var1 = [10, "Finance", [525, "problems"]]
var2 = (1,2,3)
var3 = {'tickers': ['TSLA','AAPL'],
       'prices': [1000, 2000]}

In the cell below, write Python code that prints the type for each of the variables above.

In [2]:
print(type(var1))
print(type(var2))
print(type(var3))

<class 'list'>
<class 'tuple'>
<class 'dict'>

In the cell below, write Python code that uses slicing to print out the first 2 elements of var1.

In [3]:
print(var1[:2])

[10, 'Finance']

In the cell below, write Python code that uses slicing to print out the first element of the last element of var1.

In [4]:
last = var1[-1]
print(last[0])

# or:
# print(last[-1][0])

525

In the cell below, write Python code that appends the tuple (-1,0) in front of all the elements in var2 and prints out the answer (i.e. (-1,0,1,2,3)).

In [5]:
print((-1,0) + var2)

(-1, 0, 1, 2, 3)

In the cell below, write Python code that prints out the tickers in var3 (i.e. ``['TSLA','AAPL']``).

In [6]:
print(var3['tickers'])

['TSLA', 'AAPL']

In the cell below, write Python code that adds another entry to var3: the key for this new entry should be called 'CEO' and value for this new key should be the list ``['Elon','Tim']``. Then print out this new version of var3.

In [7]:
var3['CEO'] = ['Elon','Tim']
print(var3)

{'tickers': ['TSLA', 'AAPL'], 'prices': [1000, 2000], 'CEO': ['Elon', 'Tim']}

In the cell below, write Python code that deletes the entry you created above for var3, and prints var3 again.

In [8]:
del var3['CEO']
print(var3)

{'tickers': ['TSLA', 'AAPL'], 'prices': [1000, 2000]}

In the cell below, write Python code that uses the information in var3 to print out the price of TSLA (i.e. 1000).

In [9]:
p = var3['prices']
print(p[0])

# or
# print(var3['prices'][0])

1000

In the cell below, write Python code that checks whether the number 525 is an element of var1.

In [10]:
print(525 in var1)

False

In the cell below, write Python code that coppies all the data of var3 into a new variable called var4, then adds 'MSFT' as a third ticker in var4, and 100 as a third price in var4. Then print var4.

In [11]:
var4 = var3
var4['tickers'] = var4['tickers'] + ['MSTF']
var4['prices'] = var4['prices'] + [100]
print(var4)

{'tickers': ['TSLA', 'AAPL', 'MSTF'], 'prices': [1000, 2000, 100]}