Run the cell below:

In [1]:
var1 = 12
var2 = 5.67
var3 = "John Smith"
var4 = False
var5 = 0

In the cell below, write python code that prints out the type for each of the variables above.

In [2]:
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))
print(type(var5))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'int'>

In the cell below, write python code that multiplies var1 and var2 and prints out the result.

In [3]:
print(var1 * var2)

68.03999999999999

In the cell below, write python code that appends " is 11" at the end of var3.

In [4]:
print(var3 + " is 11")

John Smith is 11

In the cell below, write python code that uses string slicing to print out the last 3 characters (letters) of var3 ("ith").

In [5]:
print(var3[-3:])

ith

In the cell below, write python code that uses string slicing to print out the second and third characters of var3 ("oh")

In [6]:
print(var3[1:3])

oh

In the cell below, write python code that checks whether var1 and var2 are equal.

In [7]:
print(var1 == var2)

False

In the cell below, write python code that checks if var1 is larger or equal to var4.

In [8]:
print(var1 >= var4)

True

In the cell below, write python code that checks if either var1 or var4 are True.

In [9]:
print((var1==True) or (var4 == True))

False

In the cell below, write python code that uses an f-string and the variables var1 and var3 to print out "John Smith is 12 years old.

In [10]:
print(f"{var3} is {var1} years old")

John Smith is 12 years old

In the cell below, write python code that checks if var4 is not equal to var5.

In [11]:
print(var4 != var5)

False