Run the cell below:

In [1]:
var1 = [10, "Finance", [525, "problems"], (), [], 0.0]
var2 = (1,2,3)
var3 = {'tickers': ['TSLA','AAPL'],
       'prices': [1000, 2000]}
var4 = ()

In the cell below, write a conditional statement that prints "in" if the string "finance" is an element of var1.

In [2]:
if "finance" in var1:
    print("in")

In the cell below, write a conditional statement that adds elements 'one' and 'two' to the tuple var4, if var4 is empty. Then print var4.

In [3]:
if not var4:
    var4 = var4 + ('one','two')
print(var4)

('one', 'two')

In the cell below, write a conditional statement that replaces var4 with an empty tuple if var4 is not empty. Then print var4.

In [4]:
if var4:
    var4 = ()
print(var4)

()

In the cell below, use a for loop and a conditional statement to print out, one by one, all the elements of var2 that are larger than 1.

In [5]:
for i in var2:
    if i > 1:
        print(i)

2
3

In the cell below, use a list comprehension to print out, one by one, all the elements of var2 that are larger than 1.

In [6]:
a = [print(i) for i in var2 if i > 1]

2
3

In the cell below, use a for loop to print out all the keys of the var3 dictionary.

In [7]:
for i in var3:
    print(i)

tickers
prices

In the cell below, use a for loop to print out all the tickers (at once, as a list) and then all the prices (at once, as a list) in var3.

In [8]:
for i in var3:
    print(var3[i])

['TSLA', 'AAPL']
[1000, 2000]

In the cell below, use a for loop and a conditional statement to print out all the elements of v1 that have a truth value of False.

In [9]:
for i in var1:
    if not i:
        print(i)

()
[]
0.0

In the cell below, use a list comprehension to create a new list (call it mylist) which contains the square roots of all the elements in var2 (hint: raise all of them to the power 0.5). Then print this new list out.

In [10]:
mylist = [i**0.5 for i in var2]
print(mylist)

[1.0, 1.4142135623730951, 1.7320508075688772]

In the cell below, use the range() function to create a list (call it fives) of all multiples of 5 from 10 to 25. Then print this new list out.

In [11]:
fives = []
for i in range(5,26,5):
    fives = fives + [i]
print(fives)

#or, using the "list()" function:
#fives = list(range(5,26,5))

[5, 10, 15, 20, 25]