Run the cell below:

In [1]:
import pandas as pd

If you have not done so already, download the "compa.zip", "crspm.zip" and "ff.zip" files from the "Lectures and Data / data" tab in D2L into a "data" folder on your computer (located outside the folder containing this file, as explained in ``lecture00``).

Load the CRSP monthly market data ("crspm.zip") into a new dataframe called ``crsp``.

In [2]:
ff = pd.read_pickle('../data/ff.zip')
ff

,date,mktrf,smb,hml,rf,year,month,umd,dateff
0,1926-07-01,0.0296,-0.0238,-0.0273,0.0022,1926.0,7.0,NaN,1926-07-31
1,1926-08-01,0.0264,-0.0147,0.0414,0.0025,1926.0,8.0,NaN,1926-08-31
2,1926-09-01,0.0036,-0.0139,0.0012,0.0023,1926.0,9.0,NaN,1926-09-30
3,1926-10-01,-0.0324,-0.0013,0.0065,0.0032,1926.0,10.0,NaN,1926-10-30
4,1926-11-01,0.0253,-0.0016,-0.0038,0.0031,1926.0,11.0,NaN,1926-11-30
...,...,...,...,...,...,...,...,...,...
1139,2021-06-01,0.0275,0.0180,-0.0776,0.0000,2021.0,6.0,NaN,2021-06-30
1140,2021-07-01,0.0127,-0.0396,-0.0175,0.0000,2021.0,7.0,NaN,2021-07-30
1141,2021-08-01,0.0290,-0.0048,-0.0013,0.0000,2021.0,8.0,NaN,2021-08-31
1142,2021-09-01,-0.0437,0.0080,0.0509,0.0000,2021.0,9.0,NaN,2021-09-30
1143,2021-10-01,0.0665,-0.0228,-0.0045,0.0000,2021.0,10.0,NaN,2021-10-29

Print out the number of rows and the number of columns of ``crsp``.

Print out the data types of all columns in ``crsp``.

Replace the column names in ``crsp`` with a version of themselves that is all lower case and stripped of any leading and trailing white spaces. Then print these new column names out.

Convert the following columns to integer (``int64``) type: 'permno','permco','shrcd','exchcd', 'siccd'. Then print all data types again to verify that this was done correctly.

Convert ``siccd`` and ``ticker`` to ``string`` type. Then print all data types again to verify that this was done correctly.

Replace ``crsp`` with a version of itself that does not have any duplicates with respect to ``permno`` and ``date`` (i.e. no two rows with the same ``permno`` and the same ``date``). Then print the number of rows and columns again to see if any rows were dropped.

Replace ``crsp`` with a version of itself that does not have any missing values for ``ret``. Then print the number of rows and columns again to see if any rows were dropped.

Create a new column called ``sic1d`` which contains only the first digit in ``siccd``. Then print the first 5 rows of ``crsp``.

Print out how many times each value of ``sic1d`` appears in ``crsp``.

Create a new column called ``mktcap`` (market capitalization) which equals ``shrout`` (shares outstanding) times the absolute value of ``prc`` (use the ``.abs()`` Pandas attribute to calculate the absolute value). Then print the first 5 rows of ``crsp``.

Use ``.describe()`` to summarize the ``ret`` and ``mktcap`` variables.