Run the cell below:

In [1]:
import pandas as pd

If you have not done so already, download the "compa.zip", "crspm.zip" and "ff.zip" files from the "Lectures and Data / data" tab in D2L into a "data" folder on your computer (located outside the folder containing this file, as explained in ``lecture0``).

Load the Compustat annual accounting data ("compa.zip") into a new dataframe called ``comp``.

In [2]:
comp = pd.read_pickle('../data/compa.zip')

Print out the names of the columns in the ``comp`` dataframe.

In [3]:
comp.columns

Index(['permno', 'datadate', 'gvkey', 'tic', 'conm', 'at', 'capx', 'che',
       'cogs', 'csho', 'dlc', 'dltt', 'dp', 'dvc', 'ib', 'oancf', 'ppegt',
       'ppent', 'revt', 'sale', 'fic', 'prcc_f', 'sich'],
      dtype='object')

Load the CRSP monthly market data ("crspm.zip") into a new dataframe called ``crsp``.

In [4]:
crsp = pd.read_pickle('../data/crspm.zip')

Print out the names of the columns in the ``crsp`` dataframe.

In [5]:
crsp.columns

Index(['permno', 'permco', 'date', 'prc', 'ret', 'shrout', 'shrcd', 'exchcd',
       'siccd', 'ticker'],
      dtype='object')

Print out the first three rows in the ``crsp`` dataframe.

In [6]:
crsp.head(3)

,permno,permco,date,prc,ret,shrout,shrcd,exchcd,siccd,ticker
0,10000.0,7952.0,1986-01-31,-4.3750,NaN,3680.0,10.0,3.0,3990.0,OMFGA
1,10000.0,7952.0,1986-02-28,-3.2500,-0.257143,3680.0,10.0,3.0,3990.0,OMFGA
2,10000.0,7952.0,1986-03-31,-4.4375,0.365385,3680.0,10.0,3.0,3990.0,OMFGA

Load the Fama-French risk-factor data ("ff.zip") into a new dataframe called ``ffrench``.

In [7]:
ffrench = pd.read_pickle('../data/ff.zip')

Print out the last three rows in the ``ffrench`` dataframe.

In [8]:
ffrench.tail(3)

            date   mktrf     smb     hml   rf    year  month  umd      dateff
1141  2021-08-01  0.0290 -0.0048 -0.0013  0.0  2021.0    8.0  NaN  2021-08-31
1142  2021-09-01 -0.0437  0.0080  0.0509  0.0  2021.0    9.0  NaN  2021-09-30
1143  2021-10-01  0.0665 -0.0228 -0.0045  0.0  2021.0   10.0  NaN  2021-10-29

Open the "practice_data.csv" file located in the same directory as these lecture notes and inspect the positioning of the data in it. Then, in the cell below, read that data into a new dataframe called ``csvdat``. Make sure that this new dataframe only contains the data in the file, and none of the empty rows and/or columns. Then print out the ``csvdat`` dataframe.

In [4]:
csvdat = pd.read_csv('./practice_data.csv', index_col = 0)
csvdat

          B         C
0  0.225317  0.146124
1  0.596614  0.924223
2  0.329928  0.009659
3  0.326969  0.816329
4  0.473522  0.614161

In [6]:
csvdat.columns

Index(['B', 'C'], dtype='object')

Open the "practice_data.xlsx" file located in the same directory as these lecture notes, and inspect the positioning of the data in it. Then, in the cell below, read that data into a new dataframe called ``xlsdat``. Make sure that this new dataframe only contains the data in the file, and none of the empty rows and/or columns. Then print out the ``xlsxdat`` dataframe.

In [10]:
xlsdat = pd.read_excel('./practice_data.xlsx', usecols="B:D", skiprows=2, index_col=0)
xlsdat

          B         C
0  0.225317  0.146124
1  0.596614  0.924223
2  0.329928  0.009659
3  0.326969  0.816329
4  0.473522  0.614161